<p-toast></p-toast>
<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="row" align="center">
          <div class="col-md-12">
              <h3>Gestión de Movimientos</h3>
            <div class="row mb-3">
             
              <div class="col-md-4">
                <label for="filtroProducto">Producto ID</label>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="filtroProductoId"
                  placeholder="Buscar por producto ID"
                />
              </div>
              <div class="col-md-4">
                <label for="filtroTipo">Tipo</label>
                <select class="form-control" [(ngModel)]="filtroTipo">
                  <option value="">Todos</option>
                  <option value="ENTRADA">Entrada</option>
                  <option value="SALIDA">Salida</option>
                </select>
              </div>
              <div class="col-md-4 d-flex align-items-end">
                <button
                  class="btn btn-primary w-100"
                  (click)="buscarPorFiltro(filtroProductoId, filtroTipo)"
                >
                  Buscar
                </button>
              </div>
            </div>          

            <p-table
              [value]="movimientos"
              [paginator]="true"
              [rows]="5"
              [responsive]="true"
              class="p-datatable-striped"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th>Producto ID</th>
                  <th>Tipo</th>
                  <th>Cantidad</th>
                  <th>Fecha</th>
                  <th>Descripción</th>
                  <th>Acciones</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-mov>
                <tr>
                  <td>{{ mov.id }}</td>
                  <td>{{ mov.producto }}</td>
                  <td>{{ mov.tipo }}</td>
                  <td>{{ mov.cantidad }}</td>
                  <td>{{ mov.fecha | date : "short" }}</td>
                  <td>{{ mov.descripcion }}</td>
                  <td>
                    <button
                      class="btn btn-sm btn-info mr-2"
                      (click)="editarMovimiento(mov)"
                    >
                      Editar
                    </button>
                    <button
                      class="btn btn-sm btn-danger"
                      (click)="confirmarEliminarMovimiento(mov.id)"
                    >
                      Eliminar
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog
    [(visible)]="mostrarDialogo"
    [modal]="true"
    [closable]="false"
    header="Movimiento"
    [style]="{ width: '500px' }"
  >
    <form [formGroup]="movimientoForm" (ngSubmit)="guardarMovimiento()">
      <div class="form-group">
        <label>Producto ID</label>
        <input
          type="number"
          formControlName="idProducto"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label>Tipo</label>
        <select formControlName="tipo" class="form-control">
          <option value="ENTRADA">Entrada</option>
          <option value="SALIDA">Salida</option>
        </select>
      </div>
      <div class="form-group">
        <label>Cantidad</label>
        <input type="number" formControlName="cantidad" class="form-control" />
      </div>

      <div class="form-group">
        <label>Descripción</label>
        <textarea
          formControlName="descripcion"
          rows="3"
          class="form-control"
        ></textarea>
      </div>

      <div class="text-right">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="movimientoForm.invalid"
        >
          {{ seleccionActual ? "Actualizar" : "Crear" }}
        </button>
        <button
          type="button"
          class="btn btn-secondary ml-2"
          (click)="cerrarDialogo()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </p-dialog>
</div>
